<div class="row">
    <div class="col-lg-11">
        <field [width]="this.GameService.getFieldSize() + 1" [height]="this.GameService.getFieldSize() + 1"
               [player]="player"
               (fieldCellClickOut)="playerFieldCellClick($event)"></field>
    </div>
    <!--Селект лист с кораблями для игрока для ручной расстановки-->
    <shipsList [player]="player" [dispCond]="!player.isEnemy && !this.GameService.isStarted"></shipsList>
    <!--Селект лист с кораблями после начала игры-->
    <shipsList [player]="player" [dispCond]="this.GameService.isStarted"></shipsList>
    <!--Селект лист со сложностями для копьютера-->
    <div class="col-lg-1" *ngIf="player.isComp && player.isEnemy">
        <select size="1" [(ngModel)]="selectedDifficulty">
            <ng-container *ngFor="let vDiff of difficulties">
                <!--Вот тут не понял как правильно опцию сделать, было value={{vDiff.id}}, но не работало
                , value обрамлялся скобками и возвращал строку
                А вот в таком виде работает
                -->
                <option [ngValue]="vDiff.id" title="{{vDiff.discr}}">{{vDiff.name}}</option>
            </ng-container>
        </select>
    </div>
</div>