<div class="col-lg-1" *ngIf="dispCond">
  <select size="10" id="playersShips" [(ngModel)]="player.selectedShip" [disabled]="this.GameService.isStarted">
    <ng-container *ngFor="let vShip of player.ships">
      <option *ngIf="vShip.ship.x==-999 || vShip.ship.isAlive && this.GameService.isStarted" [ngValue]="vShip">{{vShip.ship.name}}</option>
    </ng-container>
  </select>
  <button type="button" (click)="this.ShipsService.placeShipsRandom(player.ships)" *ngIf="!this.GameService.isStarted">Random</button>
</div>